<div class="mx-auto" id="messageBox" *ngIf="messagesService.messages.length">
  <div class="row" *ngFor="let message of messagesService.messages">
    <div class="col-sm-auto col-md-auto col-lg-auto">
      {{message.input.toUpperCase()}}
    </div>
    <div class="col font-italic">
      {{message.response}}
    </div>
  </div>
</div>

<form [formGroup]="userConsole" (ngSubmit)="readInput()">
  <mat-form-field appearance="outline">
    <input matInput formControlName="userInput">
  </mat-form-field>
</form>
