.playerMenu {
  height: 25vh;
}

mat-form-field {
  width: 50vw;
  position: fixed;
  bottom: 0;
  left: 25vw;
}

mat-grid-tile {
  border: 1px solid hotpink;
  height: 20vh;
  position: absolute;
}

#messageBox {
  margin: 2em;
  width: 50vw;
  overflow: hidden;
}
