.mainBox {
  width: 100vw;
  height: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sideMenuContent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sideMenu {
  padding: 1em;
  width: 25vw;
  text-align: center;
}
