<mat-drawer-container class="mainBox">

  <mat-drawer mode="side" #leftMenu class="sideMenu" position="start" opened>
    <p>Inventory</p>
    <app-inventory></app-inventory>

  </mat-drawer>

  <mat-drawer mode="side" #rightMenu class="sideMenu" position="end" opened>
    <p>Map and Contacts</p>
    <app-little-chicago></app-little-chicago>
    <app-contacts></app-contacts>
  </mat-drawer>

  <div class="sideMenuContent">
    <app-log-book></app-log-book>
  </div>
</mat-drawer-container>
<app-player-console></app-player-console>
