<table>
  <tr>
    <th>INPUT</th>
    <th>PARSING</th>
    <th>EXAMPLE</th>
  </tr>
  <tr>
    <td>VERB</td>
    <td>[COMMAND]</td>
    <td>"GO", "TAKE", "LOOK"
      <hr>
    </td>
  </tr>
  <tr>
    <td>VERB NOUN</td>
    <td>[COMMAND] [TARGET]</td>
    <td>"TAKE GUN"
      <hr>
    </td>
  </tr>
  <tr>
    <td>VERB PREPOSITION NOUN</td>
    <td>[COMMAND] [MODIFIER] [TARGET]</td>
    <td>"LOOK UNDER BED"
      <hr>
    </td>
  </tr>
  <tr>
    <!-- May remove this as possibility if logic parsing proves difficult -->
    <td>NOUN VERB PREPOSITION NOUN</td>
    <td>[TARGETa] [COMMAND] [TARGETb]</td>
    <td>"MORGAN, ATTACK VICTOR"
      <hr>"MURPHY, TAKE GUN"</td>
  </tr>
  <tr>
    <td>VERB NOUN PREPOSITION NOUN</td>
    <td>[COMMAND] [TARGETa] [MODIFIER] [TARGETb]</td>
    <td>"PUT MEDALLION INTO DESK"
      <hr>"GET MEDALLION FROM DESK"</td>
  </tr>
</table>
